nav {
  background-image: linear-gradient(
    to right top,
    #1a1b1e,
    #1f284b,
    #323278,
    #5c329f,
    #941dbe
  );
  box-shadow: -2px 11px 5px 0px rgba(61, 45, 45, 0.75);
  -webkit-box-shadow: -2px 11px 5px 0px rgba(61, 45, 45, 0.75);
  -moz-box-shadow: -2px 11px 5px 0px rgba(61, 45, 45, 0.75);
  text-shadow: 4px 4px 2px rgba(17, 5, 5, 0.883);
}
.navbar-brand {
  font-size: 1.8em;
  font-family: "Dongle" sans-serif;
  font-weight: 600;
  color: #b4c370;
}
.navbar-brand:hover {
  color: #fff;
}
.link {
  padding: 10px 10px;
  font-size: 1.4em;
  font-family: "Dongle" sans-serif;
  font-weight: 600;
  color: #b4c370;
}
.link:hover {
  color: #fff;
}
